/*
timr:2019-03-07
author:zhwei
command:ƻ������
*/

.clearfix::after{
  content:'.';
  display:block;
  height:0;
  clear:both;
  visibility:hidden
}

.fl{
  float: left;
}

.fr{
  float: right;
}

.w-100{
  width: 100%;
}



/* 微信主体 中间内容 */
.area-type-box {
  text-align: left;
  width: 1200px;
  margin:50px auto;
  border: 1px solid #aaa;
}

/* 城市名称div */
.area-city-box{
  padding: 15px 20px 0;
}
.area-city-box button{
  margin-right: 5px;
  margin-bottom: 10px;
  height: 32px;
  line-height: 32px;
}

.area-city-box:nth-child(2) {
  padding-top:0;
}

.area-city-box button:hover,
.area-city-box button:visited{
  color: #fff;
  background: #FF7B9C;
  border-color: #FF7B9C;
}
.border-none button{
  border-color: transparent;
}


.main-img-box{
  margin-bottom:80px;
}

.m-imgs-box{
  width: 1201px;
  margin: 0 auto 30px;
  border-top:1px solid #aaa;
  border-left:1px solid #aaa;
}

.m-imgs-box .item-img{
  position: relative;
  left: -1px;
  float: left;
  height: 326px;
  width: 240px;
  border-right: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
}

.m-imgs-box .item-img a{
  display: inline-block;
  height: 100%;
  width: 100%;
  border: 5px solid transparent;
  position: relative;
  width: 240px;
  height: 327px;
  top: -1px;
}

.m-imgs-box .item-img h3{
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}

.m-imgs-box .item-img a:hover{
  border: 5px solid #FF3366;

}

.m-imgs-box .item-img .custom-card p{
  text-align: left;
  margin: 0 20px;
  color: #464646;
  line-height: 36px;
}
.m-imgs-box .item-img .custom-card p span.visited-number,
.m-imgs-box .item-img .custom-card p span.zan-number {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: text-bottom;
  overflow: hidden;
  text-indent: 9999px;
}

.m-imgs-box .item-img .custom-card p span.visited-number {
  background: url('./imgs/visited.png') no-repeat center center;
}

.m-imgs-box .item-img .custom-card p span.zan-number {
  margin-left: 15px;
  background: url('./imgs/zan.png') no-repeat center center;
}
