@import '~antd/dist/antd.css';
a{

  text-decoration:none;

}
a:link{text-decoration:none;   /* 指正常的未被访问过的链接*/

}a:visited{text-decoration:none; /*指已经访问过的链接*/

 }a:hover{text-decoration:none;/*指鼠标在链接*/}a:active{text-decoration:none;/* 指正在点的链接*/

                                          }
.card-container > .ant-tabs-card > .ant-tabs-content {
  margin-top: -16px;
  height: auto;
}

.card-container > .ant-tabs-card > .ant-tabs-content > .ant-tabs-tabpane {
  background: #fff;
  padding: 16px;
}

.card-container > .ant-tabs-card > .ant-tabs-bar {
  border-color: #fff;
}

.card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
  border-color: transparent;
  background: transparent;
}

.card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
  border-color: #fff;
  background: #fff;
}
.bottom_content_dv{
  width: 80%;
  min-width: 1200px;
  margin: 0 auto;
  text-align: center;
  border: 1px solid #E3E3E3;
}
.image_text h4{
  width: 100%;
}
.png_dt img{
  display: inline-block;
  width: 200px;
}
.image_text img{
  width: 185px;
  display: block;
  height: 185px;
}
.image_text{
  display: inline-block;
  text-align: left;
}
.image_text .dl .dt{
  min-width: 165px;
  vertical-align: top;
  padding: 5px;

}
.image_text .dl .dd{
  width: 150px;
  display: inline-block;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.gray_color{
  color:#B6B6B6;
}
.small_color{
  color:#B1B0B1;
}
.icon_weixin{
  padding-left: 20px;
}
.display_inline{
  display: inline-block;
}

.recommendation{
  text-align: left;
  padding-left: 30px;
}
.recommendation p{
  display: inline-block;
}
.pink_nav{
  background: #FF5B84;
  color: #ffffff;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  line-height: 40px;
  text-align: center;
}
.green_nav{
  background: #98CE1E;
  color: #ffffff;
  width: 80px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  margin-top: 10px;
  border-radius: 5px;
  margin-left: 20px;
}
.border5{
  width: 240px;
  padding: 20px;
  border: 5px solid #fff;
}
.border5 .dl{
  width: 100%;
}
.text_content{
  width: 1230px;
  margin: 0 auto;
}
.release_time .updata{
  padding-right: 20px;
}
.weixin_tab_two{
  margin: 0 auto;
  width: 1230px;
}
.weixin_tab_two .ant-tabs-tab{
  background: hotpink;
}

.weixin_tab_two .ant-tabs-bar{
  border-bottom:none;
}
.weixin_tab_two .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active{
  background: hotpink;
  color: #fff;
}
.city_style{
  display: inline-block;
  width: 1120px;
  padding: 0;

}
.city_style li {
  list-style: none;
  display: inline-block;
  padding: 5px;
}
.city_style li:hover{
  background: #FF7B9C;
  border-radius: 3px ;
}
.city_style li:hover a{
  color: #FFFFFF;
}

.city_style li a{
  color: #000000;
}
.city_list li{
  border:1px solid #cccccc;
  border-radius: 5px;
  margin: 2px;
}
.map_list div{
  vertical-align: top;
  height: 40px;
  line-height: 40px;
}
.top_bottom_num{
  margin: 0 auto;
  height: 40px;
  width: 1120px;
}
.stat_left{
  float: left;
}
.stat_right{
  float:right;
}
.stat_right div{
  display: inline-block;
}
.stat_right .sort_dv_style{
  padding: 5px;
  border-left: 1px solid #E2E2E2;
  border-top: 1px solid #E2E2E2;
  border-bottom: 1px solid #E2E2E2;
  height: 40px;
  line-height: 30px;

}
.stat_right .sort_dv_style:hover{
  color: #F6851F;
}
.active_bg_gray{
 background: #F2F2F2;
 }
.border_right_only{
  border-right: 1px solid #E2E2E2;
}
.picture_list{
  margin-left: 10px;
}
.big_picture{
  margin-right: 5px;
}
.color_orange{
  color: #F6851F;
  padding: 5px;
  border: 1px solid #E2E2E2;

}
.color_pink{
  color:#FF3265;
}
.font_bold{
  font-weight: 600;
}
.weixin_tab_two .ant-tabs-nav-wrap{
  text-align: left;
  font-size: 20px;
}
.weixin_tab_two{
  margin-top: 10px;
}
.weixin_tab_two .ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab{
  font-size:20px;
  border: 1px solid #EFEFEF;
  margin-right: 5px;
  border-radius: 5px; 
}

.weixin_tab_two .ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab:hover{

  background:#FF3265;
  color: #fff;
}
.city_list_area{
  text-align: left;
}