/*
timr:2019-03-07
author:zhwei
command:ƻ������
*/

.clearfix::after{
  content:'.';
  display:block;
  height:0;
  clear:both;
  visibility:hidden
}

.fl{
  float: left;
}

.fr{
  float: right;
}

.w-100{
  width: 100%;
}


.gutter-example .ant-row > div {
  background: transparent;
  border: 0;
}
.gutter-box {
  background: #2db7f5;
  height: 80px;
  line-height: 80px;
  border-radius: 6px;
}


/*  新的测试页面 */
.head-tip{
  width: 100%;
  height:35px;
  border-bottom: 1px solid #ddd;
  margin: 0 auto;
  background: #F8F8F8;
}

.head-box{
  text-align: left;
  width: 1200px;
  line-height: 35px;
  margin: 0 auto;
}
.head-box button{
  margin-right: 10px;
}

.head-box .head-box-r span{
  display: inline-block;
  padding: 0 15px;
}
.head-box .head-box-r span:nth-child(1){
border-right: 1px solid #ddd;
}

/* 搜索部分 */
.search-box{
  height: 140px;
  width: 1200px;
  margin: 0 auto;
  /* background: pink; */
}
