/*
timr:2019-03-07
author:zhwei
command:ƻ������
*/

.clearfix::after{
  content:'.';
  display:block;
  height:0;
  clear:both;
  visibility:hidden
}

.fl{
  float: left;
}

.fr{
  float: right;
}

.w-100{
  width: 100%;
}
