
/* footer-box 底部 样式 */
.footer-bottom-box{
  width: 1200px;
  margin: 0 auto;
  padding: 20px 0;
  /* background: pink; */
  /* border: 1px solid red; */
}
.footer-bottom-box>.fl:nth-child(1){
  padding-right: 15px;
  min-height: 112px;
  border-right: 1px solid #aaa;
}
.footer-bottom-box>.fl{
  padding-left: 30px;
  padding-right: 15px;
  min-height: 112px;
  border-right: 1px solid #aaa;
}
.footer-bottom-box .complain{
  line-height: 24px;
  margin-left:14px;
}
.footer-bottom-box .complain b{
  color: #464646;
  display: block;
}
.footer-bottom-box .complain a{
  width: 100px;
  overflow: hidden;
  color: #aaa;
  display: block;
}


.copyrightbox{
  text-align: center;
  line-height: 22px;
  margin-right: 40px;
  font-size: 16px;
}
